<!DOCTYPE html>
<html>
<head>
  <title>COFINE</title>
  <%#= include_gon %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container master-container">
<%= nav_bar :width => "100%", :fixed => :top, :brand => "COFINE" do %>
  <% menu_group do %>
    <% if signed_in? %>
      <%= menu_item "Menu", menu_path %>
      <%= menu_item "Desconectar", signout_path, method: "delete" %>
      <%= menu_item current_user.nombre_completo %>
      <%#= menu_item "Editar Cuenta (en construccion)", usuario_editar_cuenta_path()%>
    <% end %>
  <% end %>
<% end %>

<% if flash[:notice] %>
  <div class="alert"><%= flash[:notice] %></div>
<% elsif flash[:error] %>
  <div class="alert alert-error"><%= flash[:error] %></div>
<% elsif flash[:success] %>
  <div class="alert alert-success"><%= flash[:success] %></div>
<% end %>

<%= yield %>
</div>
</body>
</html>
