<legend>Crea un Nuevo Usuario</legend>
<%= form_for @usuario, :html => {:class => "form-horizontal"} do |form| %>
		<div class="control-group">
			<div class="control-label">
				<%= form.label :nombre %>
			</div>
			<div class="controls">
			<%= form.text_field :nombre %>
			</div>
		</div>

		<div class="control-group">
			<div class="control-label">
				<%= form.label :apellido_paterno %>
			</div>
			<div class="controls">
			<%= form.text_field :apellido_paterno %>
			</div>
		</div>

		<div class="control-group">
			<div class="control-label">
				<%= form.label :apellido_materno %>
			</div>
			<div class="controls">
			<%= form.text_field :apellido_materno %>
			</div>
		</div>

		<div class="control-group">
			<div class="control-label">
				<%= form.label :mail %>
			</div>
			<div class="controls">
			<%= form.text_field :mail %>
			</div>
		</div>
		
		<div class="control-group">
			<div class="control-label">
				<%= form.label :contraseña %>
			</div>
			<div class="controls">
			<%= form.password_field :password %>
			</div>
		</div>

	<div class="control-group">
		<div class="controls">
			<%= form.submit "Guardar", :class => "btn btn-primary"%>
		</div>
	</div>
<% end %>